<div class="wrapper">
    <!-- header starts  -->
    <header id="header">
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand base__color" href="#">Company Name</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">SIGN IN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">PROGRAM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);">BECOME A PARTNER</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- container -->
        </nav>
    </header>
    <!-- header ends  -->
    <!-- Login page starts  -->
    <div class="login__page">
        <div class="login__page__content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="left__side__content">
                            <div class="already__partner__title">
                                <h1 class="title">
                                    Already a partner?
                                </h1>
                                <!-- title -->
                            </div>
                            <!-- already__partner__title -->
                            <div class="left__side__descp">
                                <p class="descp">
                                    Welcome back! Please login to access all the benefits that come with being a partner.
                                </p>
                                <p class="descp">
                                    Did you know that partners receive automated commission payments, access to marketing resources ane more? You never need to worry about lead time for paymets. Not to mention our seamless integrations, like Salesforce, Crossbeam and more!
                                </p>
                            </div>
                            <!-- left__side__descp -->
                        </div>
                        <!-- left__side__content -->
                    </div>
                    <!-- col-sm-6 -->
                    <div class="col-sm-6">
                        <div class="right__side__content">
                            <div class="sign__in__card">
                                <div class="card__left__side d-flex justify-content-between flex-column">
                                    <div class="register__title">
                                        <h3 class="title">
                                            Register
                                        </h3>
                                    </div>
                                    <!-- register__title -->
                                    <div class="become__partner">
                                        <p class="descp base__color">
                                            Become a partner.
                                        </p>
                                    </div>
                                </div>
                                <!-- card__left__side -->
                                <div class="card__right__side bg__base__color text-white">
                                    <div class="sign__in__form">
                                        <div class="sign__in__title">
                                            <h3 class="title text-white">
                                                Sign in.
                                            </h3>
                                        </div>
                                        <!-- sign__in__title -->
                                        <form>
                                            <div class="form-group row mb-2">
                                                <label for="staticEmail" class="col-sm-2 col-form-label pe-0">Email</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="staticEmail" value="email@example.com">
                                                </div>
                                            </div>
                                            <div class="form-group row mb-2">
                                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                                <div class="col-sm-10 ps-3">
                                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- sign__in__form -->
                                    <div class="sign__in__bottom">
                                        <div class="d-flex justify-content-between">
                                            <div class="forgot__password">
                                                <p class="descp">
                                                    Forgot password?
                                                </p>
                                            </div>
                                            <!-- forgot__password -->
                                            <div class="login__button">
                                                <button class="btn">
                          LOG IN
                        </button>
                                            </div>
                                            <!-- login__button -->
                                        </div>
                                    </div>
                                    <!-- sign__in__bottom -->
                                </div>
                                <!-- card__right__side -->
                            </div>
                            <!-- sign__in__card -->
                        </div>
                        <!-- right__side__content -->
                    </div>
                    <!-- col-sm-6 -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- login__page__content -->
    </div>
    <!-- Login page ends  -->
    <!-- Footer starts  -->
    <footer id="footer">
        <div class="footer__content">
            <div class="copy__right">
                <p class="descp text-center mb-0">
                    Copyright © 2019. PartnerPortal.io. All Rights Reserved.
                </p>
            </div>
            <!-- copy__right -->
        </div>
        <!-- footer__content -->
    </footer>
    <!-- Footer ends  -->
</div>